/* line 41, styles.scss */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 3em;
  text-align: center;
  grid-gap: 1em;
}

/* line 6, styles.scss */
.zigzag:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

/* line 10, styles.scss */
.zigzag:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}

/* line 14, styles.scss */
.zigzag:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
}

/* line 18, styles.scss */
.zigzag:nth-child(4) {
  grid-column: 3;
  grid-row: 2;
}

/* line 22, styles.scss */
.zigzag:nth-child(5) {
  grid-column: 3;
  grid-row: 3;
}

/* line 26, styles.scss */
.zigzag:nth-child(6) {
  grid-row: 3;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(7) {
  grid-column: 1;
  grid-row: 3;
}

/* line 34, styles.scss */
.zigzag:nth-child(8) {
  grid-column: 1;
  grid-row: 4;
}

/* line 6, styles.scss */
.zigzag:nth-child(9) {
  grid-column: 1;
  grid-row: 5;
}

/* line 10, styles.scss */
.zigzag:nth-child(10) {
  grid-column: 2;
  grid-row: 5;
}

/* line 14, styles.scss */
.zigzag:nth-child(11) {
  grid-column: 3;
  grid-row: 5;
}

/* line 18, styles.scss */
.zigzag:nth-child(12) {
  grid-column: 3;
  grid-row: 6;
}

/* line 22, styles.scss */
.zigzag:nth-child(13) {
  grid-column: 3;
  grid-row: 7;
}

/* line 26, styles.scss */
.zigzag:nth-child(14) {
  grid-row: 7;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(15) {
  grid-column: 1;
  grid-row: 7;
}

/* line 34, styles.scss */
.zigzag:nth-child(16) {
  grid-column: 1;
  grid-row: 8;
}

/* line 6, styles.scss */
.zigzag:nth-child(17) {
  grid-column: 1;
  grid-row: 9;
}

/* line 10, styles.scss */
.zigzag:nth-child(18) {
  grid-column: 2;
  grid-row: 9;
}

/* line 14, styles.scss */
.zigzag:nth-child(19) {
  grid-column: 3;
  grid-row: 9;
}

/* line 18, styles.scss */
.zigzag:nth-child(20) {
  grid-column: 3;
  grid-row: 10;
}

/* line 22, styles.scss */
.zigzag:nth-child(21) {
  grid-column: 3;
  grid-row: 11;
}

/* line 26, styles.scss */
.zigzag:nth-child(22) {
  grid-row: 11;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(23) {
  grid-column: 1;
  grid-row: 11;
}

/* line 34, styles.scss */
.zigzag:nth-child(24) {
  grid-column: 1;
  grid-row: 12;
}

/* line 6, styles.scss */
.zigzag:nth-child(25) {
  grid-column: 1;
  grid-row: 13;
}

/* line 10, styles.scss */
.zigzag:nth-child(26) {
  grid-column: 2;
  grid-row: 13;
}

/* line 14, styles.scss */
.zigzag:nth-child(27) {
  grid-column: 3;
  grid-row: 13;
}

/* line 18, styles.scss */
.zigzag:nth-child(28) {
  grid-column: 3;
  grid-row: 14;
}

/* line 22, styles.scss */
.zigzag:nth-child(29) {
  grid-column: 3;
  grid-row: 15;
}

/* line 26, styles.scss */
.zigzag:nth-child(30) {
  grid-row: 15;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(31) {
  grid-column: 1;
  grid-row: 15;
}

/* line 34, styles.scss */
.zigzag:nth-child(32) {
  grid-column: 1;
  grid-row: 16;
}

/* line 6, styles.scss */
.zigzag:nth-child(33) {
  grid-column: 1;
  grid-row: 17;
}

/* line 10, styles.scss */
.zigzag:nth-child(34) {
  grid-column: 2;
  grid-row: 17;
}

/* line 14, styles.scss */
.zigzag:nth-child(35) {
  grid-column: 3;
  grid-row: 17;
}

/* line 18, styles.scss */
.zigzag:nth-child(36) {
  grid-column: 3;
  grid-row: 18;
}

/* line 22, styles.scss */
.zigzag:nth-child(37) {
  grid-column: 3;
  grid-row: 19;
}

/* line 26, styles.scss */
.zigzag:nth-child(38) {
  grid-row: 19;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(39) {
  grid-column: 1;
  grid-row: 19;
}

/* line 34, styles.scss */
.zigzag:nth-child(40) {
  grid-column: 1;
  grid-row: 20;
}

/* line 6, styles.scss */
.zigzag:nth-child(41) {
  grid-column: 1;
  grid-row: 21;
}

/* line 10, styles.scss */
.zigzag:nth-child(42) {
  grid-column: 2;
  grid-row: 21;
}

/* line 14, styles.scss */
.zigzag:nth-child(43) {
  grid-column: 3;
  grid-row: 21;
}

/* line 18, styles.scss */
.zigzag:nth-child(44) {
  grid-column: 3;
  grid-row: 22;
}

/* line 22, styles.scss */
.zigzag:nth-child(45) {
  grid-column: 3;
  grid-row: 23;
}

/* line 26, styles.scss */
.zigzag:nth-child(46) {
  grid-row: 23;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(47) {
  grid-column: 1;
  grid-row: 23;
}

/* line 34, styles.scss */
.zigzag:nth-child(48) {
  grid-column: 1;
  grid-row: 24;
}

/* line 6, styles.scss */
.zigzag:nth-child(49) {
  grid-column: 1;
  grid-row: 25;
}

/* line 10, styles.scss */
.zigzag:nth-child(50) {
  grid-column: 2;
  grid-row: 25;
}

/* line 14, styles.scss */
.zigzag:nth-child(51) {
  grid-column: 3;
  grid-row: 25;
}

/* line 18, styles.scss */
.zigzag:nth-child(52) {
  grid-column: 3;
  grid-row: 26;
}

/* line 22, styles.scss */
.zigzag:nth-child(53) {
  grid-column: 3;
  grid-row: 27;
}

/* line 26, styles.scss */
.zigzag:nth-child(54) {
  grid-row: 27;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(55) {
  grid-column: 1;
  grid-row: 27;
}

/* line 34, styles.scss */
.zigzag:nth-child(56) {
  grid-column: 1;
  grid-row: 28;
}

/* line 6, styles.scss */
.zigzag:nth-child(57) {
  grid-column: 1;
  grid-row: 29;
}

/* line 10, styles.scss */
.zigzag:nth-child(58) {
  grid-column: 2;
  grid-row: 29;
}

/* line 14, styles.scss */
.zigzag:nth-child(59) {
  grid-column: 3;
  grid-row: 29;
}

/* line 18, styles.scss */
.zigzag:nth-child(60) {
  grid-column: 3;
  grid-row: 30;
}

/* line 22, styles.scss */
.zigzag:nth-child(61) {
  grid-column: 3;
  grid-row: 31;
}

/* line 26, styles.scss */
.zigzag:nth-child(62) {
  grid-row: 31;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(63) {
  grid-column: 1;
  grid-row: 31;
}

/* line 34, styles.scss */
.zigzag:nth-child(64) {
  grid-column: 1;
  grid-row: 32;
}

/* line 6, styles.scss */
.zigzag:nth-child(65) {
  grid-column: 1;
  grid-row: 33;
}

/* line 10, styles.scss */
.zigzag:nth-child(66) {
  grid-column: 2;
  grid-row: 33;
}

/* line 14, styles.scss */
.zigzag:nth-child(67) {
  grid-column: 3;
  grid-row: 33;
}

/* line 18, styles.scss */
.zigzag:nth-child(68) {
  grid-column: 3;
  grid-row: 34;
}

/* line 22, styles.scss */
.zigzag:nth-child(69) {
  grid-column: 3;
  grid-row: 35;
}

/* line 26, styles.scss */
.zigzag:nth-child(70) {
  grid-row: 35;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(71) {
  grid-column: 1;
  grid-row: 35;
}

/* line 34, styles.scss */
.zigzag:nth-child(72) {
  grid-column: 1;
  grid-row: 36;
}

/* line 6, styles.scss */
.zigzag:nth-child(73) {
  grid-column: 1;
  grid-row: 37;
}

/* line 10, styles.scss */
.zigzag:nth-child(74) {
  grid-column: 2;
  grid-row: 37;
}

/* line 14, styles.scss */
.zigzag:nth-child(75) {
  grid-column: 3;
  grid-row: 37;
}

/* line 18, styles.scss */
.zigzag:nth-child(76) {
  grid-column: 3;
  grid-row: 38;
}

/* line 22, styles.scss */
.zigzag:nth-child(77) {
  grid-column: 3;
  grid-row: 39;
}

/* line 26, styles.scss */
.zigzag:nth-child(78) {
  grid-row: 39;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(79) {
  grid-column: 1;
  grid-row: 39;
}

/* line 34, styles.scss */
.zigzag:nth-child(80) {
  grid-column: 1;
  grid-row: 40;
}

/* line 6, styles.scss */
.zigzag:nth-child(81) {
  grid-column: 1;
  grid-row: 41;
}

/* line 10, styles.scss */
.zigzag:nth-child(82) {
  grid-column: 2;
  grid-row: 41;
}

/* line 14, styles.scss */
.zigzag:nth-child(83) {
  grid-column: 3;
  grid-row: 41;
}

/* line 18, styles.scss */
.zigzag:nth-child(84) {
  grid-column: 3;
  grid-row: 42;
}

/* line 22, styles.scss */
.zigzag:nth-child(85) {
  grid-column: 3;
  grid-row: 43;
}

/* line 26, styles.scss */
.zigzag:nth-child(86) {
  grid-row: 43;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(87) {
  grid-column: 1;
  grid-row: 43;
}

/* line 34, styles.scss */
.zigzag:nth-child(88) {
  grid-column: 1;
  grid-row: 44;
}

/* line 6, styles.scss */
.zigzag:nth-child(89) {
  grid-column: 1;
  grid-row: 45;
}

/* line 10, styles.scss */
.zigzag:nth-child(90) {
  grid-column: 2;
  grid-row: 45;
}

/* line 14, styles.scss */
.zigzag:nth-child(91) {
  grid-column: 3;
  grid-row: 45;
}

/* line 18, styles.scss */
.zigzag:nth-child(92) {
  grid-column: 3;
  grid-row: 46;
}

/* line 22, styles.scss */
.zigzag:nth-child(93) {
  grid-column: 3;
  grid-row: 47;
}

/* line 26, styles.scss */
.zigzag:nth-child(94) {
  grid-row: 47;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(95) {
  grid-column: 1;
  grid-row: 47;
}

/* line 34, styles.scss */
.zigzag:nth-child(96) {
  grid-column: 1;
  grid-row: 48;
}

/* line 6, styles.scss */
.zigzag:nth-child(97) {
  grid-column: 1;
  grid-row: 49;
}

/* line 10, styles.scss */
.zigzag:nth-child(98) {
  grid-column: 2;
  grid-row: 49;
}

/* line 14, styles.scss */
.zigzag:nth-child(99) {
  grid-column: 3;
  grid-row: 49;
}

/* line 18, styles.scss */
.zigzag:nth-child(100) {
  grid-column: 3;
  grid-row: 50;
}

/* line 22, styles.scss */
.zigzag:nth-child(101) {
  grid-column: 3;
  grid-row: 51;
}

/* line 26, styles.scss */
.zigzag:nth-child(102) {
  grid-row: 51;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(103) {
  grid-column: 1;
  grid-row: 51;
}

/* line 34, styles.scss */
.zigzag:nth-child(104) {
  grid-column: 1;
  grid-row: 52;
}

/* line 6, styles.scss */
.zigzag:nth-child(105) {
  grid-column: 1;
  grid-row: 53;
}

/* line 10, styles.scss */
.zigzag:nth-child(106) {
  grid-column: 2;
  grid-row: 53;
}

/* line 14, styles.scss */
.zigzag:nth-child(107) {
  grid-column: 3;
  grid-row: 53;
}

/* line 18, styles.scss */
.zigzag:nth-child(108) {
  grid-column: 3;
  grid-row: 54;
}

/* line 22, styles.scss */
.zigzag:nth-child(109) {
  grid-column: 3;
  grid-row: 55;
}

/* line 26, styles.scss */
.zigzag:nth-child(110) {
  grid-row: 55;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(111) {
  grid-column: 1;
  grid-row: 55;
}

/* line 34, styles.scss */
.zigzag:nth-child(112) {
  grid-column: 1;
  grid-row: 56;
}

/* line 6, styles.scss */
.zigzag:nth-child(113) {
  grid-column: 1;
  grid-row: 57;
}

/* line 10, styles.scss */
.zigzag:nth-child(114) {
  grid-column: 2;
  grid-row: 57;
}

/* line 14, styles.scss */
.zigzag:nth-child(115) {
  grid-column: 3;
  grid-row: 57;
}

/* line 18, styles.scss */
.zigzag:nth-child(116) {
  grid-column: 3;
  grid-row: 58;
}

/* line 22, styles.scss */
.zigzag:nth-child(117) {
  grid-column: 3;
  grid-row: 59;
}

/* line 26, styles.scss */
.zigzag:nth-child(118) {
  grid-row: 59;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(119) {
  grid-column: 1;
  grid-row: 59;
}

/* line 34, styles.scss */
.zigzag:nth-child(120) {
  grid-column: 1;
  grid-row: 60;
}

/* line 6, styles.scss */
.zigzag:nth-child(121) {
  grid-column: 1;
  grid-row: 61;
}

/* line 10, styles.scss */
.zigzag:nth-child(122) {
  grid-column: 2;
  grid-row: 61;
}

/* line 14, styles.scss */
.zigzag:nth-child(123) {
  grid-column: 3;
  grid-row: 61;
}

/* line 18, styles.scss */
.zigzag:nth-child(124) {
  grid-column: 3;
  grid-row: 62;
}

/* line 22, styles.scss */
.zigzag:nth-child(125) {
  grid-column: 3;
  grid-row: 63;
}

/* line 26, styles.scss */
.zigzag:nth-child(126) {
  grid-row: 63;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(127) {
  grid-column: 1;
  grid-row: 63;
}

/* line 34, styles.scss */
.zigzag:nth-child(128) {
  grid-column: 1;
  grid-row: 64;
}

/* line 6, styles.scss */
.zigzag:nth-child(129) {
  grid-column: 1;
  grid-row: 65;
}

/* line 10, styles.scss */
.zigzag:nth-child(130) {
  grid-column: 2;
  grid-row: 65;
}

/* line 14, styles.scss */
.zigzag:nth-child(131) {
  grid-column: 3;
  grid-row: 65;
}

/* line 18, styles.scss */
.zigzag:nth-child(132) {
  grid-column: 3;
  grid-row: 66;
}

/* line 22, styles.scss */
.zigzag:nth-child(133) {
  grid-column: 3;
  grid-row: 67;
}

/* line 26, styles.scss */
.zigzag:nth-child(134) {
  grid-row: 67;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(135) {
  grid-column: 1;
  grid-row: 67;
}

/* line 34, styles.scss */
.zigzag:nth-child(136) {
  grid-column: 1;
  grid-row: 68;
}

/* line 6, styles.scss */
.zigzag:nth-child(137) {
  grid-column: 1;
  grid-row: 69;
}

/* line 10, styles.scss */
.zigzag:nth-child(138) {
  grid-column: 2;
  grid-row: 69;
}

/* line 14, styles.scss */
.zigzag:nth-child(139) {
  grid-column: 3;
  grid-row: 69;
}

/* line 18, styles.scss */
.zigzag:nth-child(140) {
  grid-column: 3;
  grid-row: 70;
}

/* line 22, styles.scss */
.zigzag:nth-child(141) {
  grid-column: 3;
  grid-row: 71;
}

/* line 26, styles.scss */
.zigzag:nth-child(142) {
  grid-row: 71;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(143) {
  grid-column: 1;
  grid-row: 71;
}

/* line 34, styles.scss */
.zigzag:nth-child(144) {
  grid-column: 1;
  grid-row: 72;
}

/* line 6, styles.scss */
.zigzag:nth-child(145) {
  grid-column: 1;
  grid-row: 73;
}

/* line 10, styles.scss */
.zigzag:nth-child(146) {
  grid-column: 2;
  grid-row: 73;
}

/* line 14, styles.scss */
.zigzag:nth-child(147) {
  grid-column: 3;
  grid-row: 73;
}

/* line 18, styles.scss */
.zigzag:nth-child(148) {
  grid-column: 3;
  grid-row: 74;
}

/* line 22, styles.scss */
.zigzag:nth-child(149) {
  grid-column: 3;
  grid-row: 75;
}

/* line 26, styles.scss */
.zigzag:nth-child(150) {
  grid-row: 75;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(151) {
  grid-column: 1;
  grid-row: 75;
}

/* line 34, styles.scss */
.zigzag:nth-child(152) {
  grid-column: 1;
  grid-row: 76;
}

/* line 6, styles.scss */
.zigzag:nth-child(153) {
  grid-column: 1;
  grid-row: 77;
}

/* line 10, styles.scss */
.zigzag:nth-child(154) {
  grid-column: 2;
  grid-row: 77;
}

/* line 14, styles.scss */
.zigzag:nth-child(155) {
  grid-column: 3;
  grid-row: 77;
}

/* line 18, styles.scss */
.zigzag:nth-child(156) {
  grid-column: 3;
  grid-row: 78;
}

/* line 22, styles.scss */
.zigzag:nth-child(157) {
  grid-column: 3;
  grid-row: 79;
}

/* line 26, styles.scss */
.zigzag:nth-child(158) {
  grid-row: 79;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(159) {
  grid-column: 1;
  grid-row: 79;
}

/* line 34, styles.scss */
.zigzag:nth-child(160) {
  grid-column: 1;
  grid-row: 80;
}

/* line 6, styles.scss */
.zigzag:nth-child(161) {
  grid-column: 1;
  grid-row: 81;
}

/* line 10, styles.scss */
.zigzag:nth-child(162) {
  grid-column: 2;
  grid-row: 81;
}

/* line 14, styles.scss */
.zigzag:nth-child(163) {
  grid-column: 3;
  grid-row: 81;
}

/* line 18, styles.scss */
.zigzag:nth-child(164) {
  grid-column: 3;
  grid-row: 82;
}

/* line 22, styles.scss */
.zigzag:nth-child(165) {
  grid-column: 3;
  grid-row: 83;
}

/* line 26, styles.scss */
.zigzag:nth-child(166) {
  grid-row: 83;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(167) {
  grid-column: 1;
  grid-row: 83;
}

/* line 34, styles.scss */
.zigzag:nth-child(168) {
  grid-column: 1;
  grid-row: 84;
}

/* line 6, styles.scss */
.zigzag:nth-child(169) {
  grid-column: 1;
  grid-row: 85;
}

/* line 10, styles.scss */
.zigzag:nth-child(170) {
  grid-column: 2;
  grid-row: 85;
}

/* line 14, styles.scss */
.zigzag:nth-child(171) {
  grid-column: 3;
  grid-row: 85;
}

/* line 18, styles.scss */
.zigzag:nth-child(172) {
  grid-column: 3;
  grid-row: 86;
}

/* line 22, styles.scss */
.zigzag:nth-child(173) {
  grid-column: 3;
  grid-row: 87;
}

/* line 26, styles.scss */
.zigzag:nth-child(174) {
  grid-row: 87;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(175) {
  grid-column: 1;
  grid-row: 87;
}

/* line 34, styles.scss */
.zigzag:nth-child(176) {
  grid-column: 1;
  grid-row: 88;
}

/* line 6, styles.scss */
.zigzag:nth-child(177) {
  grid-column: 1;
  grid-row: 89;
}

/* line 10, styles.scss */
.zigzag:nth-child(178) {
  grid-column: 2;
  grid-row: 89;
}

/* line 14, styles.scss */
.zigzag:nth-child(179) {
  grid-column: 3;
  grid-row: 89;
}

/* line 18, styles.scss */
.zigzag:nth-child(180) {
  grid-column: 3;
  grid-row: 90;
}

/* line 22, styles.scss */
.zigzag:nth-child(181) {
  grid-column: 3;
  grid-row: 91;
}

/* line 26, styles.scss */
.zigzag:nth-child(182) {
  grid-row: 91;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(183) {
  grid-column: 1;
  grid-row: 91;
}

/* line 34, styles.scss */
.zigzag:nth-child(184) {
  grid-column: 1;
  grid-row: 92;
}

/* line 6, styles.scss */
.zigzag:nth-child(185) {
  grid-column: 1;
  grid-row: 93;
}

/* line 10, styles.scss */
.zigzag:nth-child(186) {
  grid-column: 2;
  grid-row: 93;
}

/* line 14, styles.scss */
.zigzag:nth-child(187) {
  grid-column: 3;
  grid-row: 93;
}

/* line 18, styles.scss */
.zigzag:nth-child(188) {
  grid-column: 3;
  grid-row: 94;
}

/* line 22, styles.scss */
.zigzag:nth-child(189) {
  grid-column: 3;
  grid-row: 95;
}

/* line 26, styles.scss */
.zigzag:nth-child(190) {
  grid-row: 95;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(191) {
  grid-column: 1;
  grid-row: 95;
}

/* line 34, styles.scss */
.zigzag:nth-child(192) {
  grid-column: 1;
  grid-row: 96;
}

/* line 6, styles.scss */
.zigzag:nth-child(193) {
  grid-column: 1;
  grid-row: 97;
}

/* line 10, styles.scss */
.zigzag:nth-child(194) {
  grid-column: 2;
  grid-row: 97;
}

/* line 14, styles.scss */
.zigzag:nth-child(195) {
  grid-column: 3;
  grid-row: 97;
}

/* line 18, styles.scss */
.zigzag:nth-child(196) {
  grid-column: 3;
  grid-row: 98;
}

/* line 22, styles.scss */
.zigzag:nth-child(197) {
  grid-column: 3;
  grid-row: 99;
}

/* line 26, styles.scss */
.zigzag:nth-child(198) {
  grid-row: 99;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(199) {
  grid-column: 1;
  grid-row: 99;
}

/* line 34, styles.scss */
.zigzag:nth-child(200) {
  grid-column: 1;
  grid-row: 100;
}

/* line 6, styles.scss */
.zigzag:nth-child(201) {
  grid-column: 1;
  grid-row: 101;
}

/* line 10, styles.scss */
.zigzag:nth-child(202) {
  grid-column: 2;
  grid-row: 101;
}

/* line 14, styles.scss */
.zigzag:nth-child(203) {
  grid-column: 3;
  grid-row: 101;
}

/* line 18, styles.scss */
.zigzag:nth-child(204) {
  grid-column: 3;
  grid-row: 102;
}

/* line 22, styles.scss */
.zigzag:nth-child(205) {
  grid-column: 3;
  grid-row: 103;
}

/* line 26, styles.scss */
.zigzag:nth-child(206) {
  grid-row: 103;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(207) {
  grid-column: 1;
  grid-row: 103;
}

/* line 34, styles.scss */
.zigzag:nth-child(208) {
  grid-column: 1;
  grid-row: 104;
}

/* line 6, styles.scss */
.zigzag:nth-child(209) {
  grid-column: 1;
  grid-row: 105;
}

/* line 10, styles.scss */
.zigzag:nth-child(210) {
  grid-column: 2;
  grid-row: 105;
}

/* line 14, styles.scss */
.zigzag:nth-child(211) {
  grid-column: 3;
  grid-row: 105;
}

/* line 18, styles.scss */
.zigzag:nth-child(212) {
  grid-column: 3;
  grid-row: 106;
}

/* line 22, styles.scss */
.zigzag:nth-child(213) {
  grid-column: 3;
  grid-row: 107;
}

/* line 26, styles.scss */
.zigzag:nth-child(214) {
  grid-row: 107;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(215) {
  grid-column: 1;
  grid-row: 107;
}

/* line 34, styles.scss */
.zigzag:nth-child(216) {
  grid-column: 1;
  grid-row: 108;
}

/* line 6, styles.scss */
.zigzag:nth-child(217) {
  grid-column: 1;
  grid-row: 109;
}

/* line 10, styles.scss */
.zigzag:nth-child(218) {
  grid-column: 2;
  grid-row: 109;
}

/* line 14, styles.scss */
.zigzag:nth-child(219) {
  grid-column: 3;
  grid-row: 109;
}

/* line 18, styles.scss */
.zigzag:nth-child(220) {
  grid-column: 3;
  grid-row: 110;
}

/* line 22, styles.scss */
.zigzag:nth-child(221) {
  grid-column: 3;
  grid-row: 111;
}

/* line 26, styles.scss */
.zigzag:nth-child(222) {
  grid-row: 111;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(223) {
  grid-column: 1;
  grid-row: 111;
}

/* line 34, styles.scss */
.zigzag:nth-child(224) {
  grid-column: 1;
  grid-row: 112;
}

/* line 6, styles.scss */
.zigzag:nth-child(225) {
  grid-column: 1;
  grid-row: 113;
}

/* line 10, styles.scss */
.zigzag:nth-child(226) {
  grid-column: 2;
  grid-row: 113;
}

/* line 14, styles.scss */
.zigzag:nth-child(227) {
  grid-column: 3;
  grid-row: 113;
}

/* line 18, styles.scss */
.zigzag:nth-child(228) {
  grid-column: 3;
  grid-row: 114;
}

/* line 22, styles.scss */
.zigzag:nth-child(229) {
  grid-column: 3;
  grid-row: 115;
}

/* line 26, styles.scss */
.zigzag:nth-child(230) {
  grid-row: 115;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(231) {
  grid-column: 1;
  grid-row: 115;
}

/* line 34, styles.scss */
.zigzag:nth-child(232) {
  grid-column: 1;
  grid-row: 116;
}

/* line 6, styles.scss */
.zigzag:nth-child(233) {
  grid-column: 1;
  grid-row: 117;
}

/* line 10, styles.scss */
.zigzag:nth-child(234) {
  grid-column: 2;
  grid-row: 117;
}

/* line 14, styles.scss */
.zigzag:nth-child(235) {
  grid-column: 3;
  grid-row: 117;
}

/* line 18, styles.scss */
.zigzag:nth-child(236) {
  grid-column: 3;
  grid-row: 118;
}

/* line 22, styles.scss */
.zigzag:nth-child(237) {
  grid-column: 3;
  grid-row: 119;
}

/* line 26, styles.scss */
.zigzag:nth-child(238) {
  grid-row: 119;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(239) {
  grid-column: 1;
  grid-row: 119;
}

/* line 34, styles.scss */
.zigzag:nth-child(240) {
  grid-column: 1;
  grid-row: 120;
}

/* line 6, styles.scss */
.zigzag:nth-child(241) {
  grid-column: 1;
  grid-row: 121;
}

/* line 10, styles.scss */
.zigzag:nth-child(242) {
  grid-column: 2;
  grid-row: 121;
}

/* line 14, styles.scss */
.zigzag:nth-child(243) {
  grid-column: 3;
  grid-row: 121;
}

/* line 18, styles.scss */
.zigzag:nth-child(244) {
  grid-column: 3;
  grid-row: 122;
}

/* line 22, styles.scss */
.zigzag:nth-child(245) {
  grid-column: 3;
  grid-row: 123;
}

/* line 26, styles.scss */
.zigzag:nth-child(246) {
  grid-row: 123;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(247) {
  grid-column: 1;
  grid-row: 123;
}

/* line 34, styles.scss */
.zigzag:nth-child(248) {
  grid-column: 1;
  grid-row: 124;
}

/* line 6, styles.scss */
.zigzag:nth-child(249) {
  grid-column: 1;
  grid-row: 125;
}

/* line 10, styles.scss */
.zigzag:nth-child(250) {
  grid-column: 2;
  grid-row: 125;
}

/* line 14, styles.scss */
.zigzag:nth-child(251) {
  grid-column: 3;
  grid-row: 125;
}

/* line 18, styles.scss */
.zigzag:nth-child(252) {
  grid-column: 3;
  grid-row: 126;
}

/* line 22, styles.scss */
.zigzag:nth-child(253) {
  grid-column: 3;
  grid-row: 127;
}

/* line 26, styles.scss */
.zigzag:nth-child(254) {
  grid-row: 127;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(255) {
  grid-column: 1;
  grid-row: 127;
}

/* line 34, styles.scss */
.zigzag:nth-child(256) {
  grid-column: 1;
  grid-row: 128;
}

/* line 6, styles.scss */
.zigzag:nth-child(257) {
  grid-column: 1;
  grid-row: 129;
}

/* line 10, styles.scss */
.zigzag:nth-child(258) {
  grid-column: 2;
  grid-row: 129;
}

/* line 14, styles.scss */
.zigzag:nth-child(259) {
  grid-column: 3;
  grid-row: 129;
}

/* line 18, styles.scss */
.zigzag:nth-child(260) {
  grid-column: 3;
  grid-row: 130;
}

/* line 22, styles.scss */
.zigzag:nth-child(261) {
  grid-column: 3;
  grid-row: 131;
}

/* line 26, styles.scss */
.zigzag:nth-child(262) {
  grid-row: 131;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(263) {
  grid-column: 1;
  grid-row: 131;
}

/* line 34, styles.scss */
.zigzag:nth-child(264) {
  grid-column: 1;
  grid-row: 132;
}

/* line 6, styles.scss */
.zigzag:nth-child(265) {
  grid-column: 1;
  grid-row: 133;
}

/* line 10, styles.scss */
.zigzag:nth-child(266) {
  grid-column: 2;
  grid-row: 133;
}

/* line 14, styles.scss */
.zigzag:nth-child(267) {
  grid-column: 3;
  grid-row: 133;
}

/* line 18, styles.scss */
.zigzag:nth-child(268) {
  grid-column: 3;
  grid-row: 134;
}

/* line 22, styles.scss */
.zigzag:nth-child(269) {
  grid-column: 3;
  grid-row: 135;
}

/* line 26, styles.scss */
.zigzag:nth-child(270) {
  grid-row: 135;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(271) {
  grid-column: 1;
  grid-row: 135;
}

/* line 34, styles.scss */
.zigzag:nth-child(272) {
  grid-column: 1;
  grid-row: 136;
}

/* line 6, styles.scss */
.zigzag:nth-child(273) {
  grid-column: 1;
  grid-row: 137;
}

/* line 10, styles.scss */
.zigzag:nth-child(274) {
  grid-column: 2;
  grid-row: 137;
}

/* line 14, styles.scss */
.zigzag:nth-child(275) {
  grid-column: 3;
  grid-row: 137;
}

/* line 18, styles.scss */
.zigzag:nth-child(276) {
  grid-column: 3;
  grid-row: 138;
}

/* line 22, styles.scss */
.zigzag:nth-child(277) {
  grid-column: 3;
  grid-row: 139;
}

/* line 26, styles.scss */
.zigzag:nth-child(278) {
  grid-row: 139;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(279) {
  grid-column: 1;
  grid-row: 139;
}

/* line 34, styles.scss */
.zigzag:nth-child(280) {
  grid-column: 1;
  grid-row: 140;
}

/* line 6, styles.scss */
.zigzag:nth-child(281) {
  grid-column: 1;
  grid-row: 141;
}

/* line 10, styles.scss */
.zigzag:nth-child(282) {
  grid-column: 2;
  grid-row: 141;
}

/* line 14, styles.scss */
.zigzag:nth-child(283) {
  grid-column: 3;
  grid-row: 141;
}

/* line 18, styles.scss */
.zigzag:nth-child(284) {
  grid-column: 3;
  grid-row: 142;
}

/* line 22, styles.scss */
.zigzag:nth-child(285) {
  grid-column: 3;
  grid-row: 143;
}

/* line 26, styles.scss */
.zigzag:nth-child(286) {
  grid-row: 143;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(287) {
  grid-column: 1;
  grid-row: 143;
}

/* line 34, styles.scss */
.zigzag:nth-child(288) {
  grid-column: 1;
  grid-row: 144;
}

/* line 6, styles.scss */
.zigzag:nth-child(289) {
  grid-column: 1;
  grid-row: 145;
}

/* line 10, styles.scss */
.zigzag:nth-child(290) {
  grid-column: 2;
  grid-row: 145;
}

/* line 14, styles.scss */
.zigzag:nth-child(291) {
  grid-column: 3;
  grid-row: 145;
}

/* line 18, styles.scss */
.zigzag:nth-child(292) {
  grid-column: 3;
  grid-row: 146;
}

/* line 22, styles.scss */
.zigzag:nth-child(293) {
  grid-column: 3;
  grid-row: 147;
}

/* line 26, styles.scss */
.zigzag:nth-child(294) {
  grid-row: 147;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(295) {
  grid-column: 1;
  grid-row: 147;
}

/* line 34, styles.scss */
.zigzag:nth-child(296) {
  grid-column: 1;
  grid-row: 148;
}

/* line 6, styles.scss */
.zigzag:nth-child(297) {
  grid-column: 1;
  grid-row: 149;
}

/* line 10, styles.scss */
.zigzag:nth-child(298) {
  grid-column: 2;
  grid-row: 149;
}

/* line 14, styles.scss */
.zigzag:nth-child(299) {
  grid-column: 3;
  grid-row: 149;
}

/* line 18, styles.scss */
.zigzag:nth-child(300) {
  grid-column: 3;
  grid-row: 150;
}

/* line 22, styles.scss */
.zigzag:nth-child(301) {
  grid-column: 3;
  grid-row: 151;
}

/* line 26, styles.scss */
.zigzag:nth-child(302) {
  grid-row: 151;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(303) {
  grid-column: 1;
  grid-row: 151;
}

/* line 34, styles.scss */
.zigzag:nth-child(304) {
  grid-column: 1;
  grid-row: 152;
}

/* line 6, styles.scss */
.zigzag:nth-child(305) {
  grid-column: 1;
  grid-row: 153;
}

/* line 10, styles.scss */
.zigzag:nth-child(306) {
  grid-column: 2;
  grid-row: 153;
}

/* line 14, styles.scss */
.zigzag:nth-child(307) {
  grid-column: 3;
  grid-row: 153;
}

/* line 18, styles.scss */
.zigzag:nth-child(308) {
  grid-column: 3;
  grid-row: 154;
}

/* line 22, styles.scss */
.zigzag:nth-child(309) {
  grid-column: 3;
  grid-row: 155;
}

/* line 26, styles.scss */
.zigzag:nth-child(310) {
  grid-row: 155;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(311) {
  grid-column: 1;
  grid-row: 155;
}

/* line 34, styles.scss */
.zigzag:nth-child(312) {
  grid-column: 1;
  grid-row: 156;
}

/* line 6, styles.scss */
.zigzag:nth-child(313) {
  grid-column: 1;
  grid-row: 157;
}

/* line 10, styles.scss */
.zigzag:nth-child(314) {
  grid-column: 2;
  grid-row: 157;
}

/* line 14, styles.scss */
.zigzag:nth-child(315) {
  grid-column: 3;
  grid-row: 157;
}

/* line 18, styles.scss */
.zigzag:nth-child(316) {
  grid-column: 3;
  grid-row: 158;
}

/* line 22, styles.scss */
.zigzag:nth-child(317) {
  grid-column: 3;
  grid-row: 159;
}

/* line 26, styles.scss */
.zigzag:nth-child(318) {
  grid-row: 159;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(319) {
  grid-column: 1;
  grid-row: 159;
}

/* line 34, styles.scss */
.zigzag:nth-child(320) {
  grid-column: 1;
  grid-row: 160;
}

/* line 6, styles.scss */
.zigzag:nth-child(321) {
  grid-column: 1;
  grid-row: 161;
}

/* line 10, styles.scss */
.zigzag:nth-child(322) {
  grid-column: 2;
  grid-row: 161;
}

/* line 14, styles.scss */
.zigzag:nth-child(323) {
  grid-column: 3;
  grid-row: 161;
}

/* line 18, styles.scss */
.zigzag:nth-child(324) {
  grid-column: 3;
  grid-row: 162;
}

/* line 22, styles.scss */
.zigzag:nth-child(325) {
  grid-column: 3;
  grid-row: 163;
}

/* line 26, styles.scss */
.zigzag:nth-child(326) {
  grid-row: 163;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(327) {
  grid-column: 1;
  grid-row: 163;
}

/* line 34, styles.scss */
.zigzag:nth-child(328) {
  grid-column: 1;
  grid-row: 164;
}

/* line 6, styles.scss */
.zigzag:nth-child(329) {
  grid-column: 1;
  grid-row: 165;
}

/* line 10, styles.scss */
.zigzag:nth-child(330) {
  grid-column: 2;
  grid-row: 165;
}

/* line 14, styles.scss */
.zigzag:nth-child(331) {
  grid-column: 3;
  grid-row: 165;
}

/* line 18, styles.scss */
.zigzag:nth-child(332) {
  grid-column: 3;
  grid-row: 166;
}

/* line 22, styles.scss */
.zigzag:nth-child(333) {
  grid-column: 3;
  grid-row: 167;
}

/* line 26, styles.scss */
.zigzag:nth-child(334) {
  grid-row: 167;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(335) {
  grid-column: 1;
  grid-row: 167;
}

/* line 34, styles.scss */
.zigzag:nth-child(336) {
  grid-column: 1;
  grid-row: 168;
}

/* line 6, styles.scss */
.zigzag:nth-child(337) {
  grid-column: 1;
  grid-row: 169;
}

/* line 10, styles.scss */
.zigzag:nth-child(338) {
  grid-column: 2;
  grid-row: 169;
}

/* line 14, styles.scss */
.zigzag:nth-child(339) {
  grid-column: 3;
  grid-row: 169;
}

/* line 18, styles.scss */
.zigzag:nth-child(340) {
  grid-column: 3;
  grid-row: 170;
}

/* line 22, styles.scss */
.zigzag:nth-child(341) {
  grid-column: 3;
  grid-row: 171;
}

/* line 26, styles.scss */
.zigzag:nth-child(342) {
  grid-row: 171;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(343) {
  grid-column: 1;
  grid-row: 171;
}

/* line 34, styles.scss */
.zigzag:nth-child(344) {
  grid-column: 1;
  grid-row: 172;
}

/* line 6, styles.scss */
.zigzag:nth-child(345) {
  grid-column: 1;
  grid-row: 173;
}

/* line 10, styles.scss */
.zigzag:nth-child(346) {
  grid-column: 2;
  grid-row: 173;
}

/* line 14, styles.scss */
.zigzag:nth-child(347) {
  grid-column: 3;
  grid-row: 173;
}

/* line 18, styles.scss */
.zigzag:nth-child(348) {
  grid-column: 3;
  grid-row: 174;
}

/* line 22, styles.scss */
.zigzag:nth-child(349) {
  grid-column: 3;
  grid-row: 175;
}

/* line 26, styles.scss */
.zigzag:nth-child(350) {
  grid-row: 175;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(351) {
  grid-column: 1;
  grid-row: 175;
}

/* line 34, styles.scss */
.zigzag:nth-child(352) {
  grid-column: 1;
  grid-row: 176;
}

/* line 6, styles.scss */
.zigzag:nth-child(353) {
  grid-column: 1;
  grid-row: 177;
}

/* line 10, styles.scss */
.zigzag:nth-child(354) {
  grid-column: 2;
  grid-row: 177;
}

/* line 14, styles.scss */
.zigzag:nth-child(355) {
  grid-column: 3;
  grid-row: 177;
}

/* line 18, styles.scss */
.zigzag:nth-child(356) {
  grid-column: 3;
  grid-row: 178;
}

/* line 22, styles.scss */
.zigzag:nth-child(357) {
  grid-column: 3;
  grid-row: 179;
}

/* line 26, styles.scss */
.zigzag:nth-child(358) {
  grid-row: 179;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(359) {
  grid-column: 1;
  grid-row: 179;
}

/* line 34, styles.scss */
.zigzag:nth-child(360) {
  grid-column: 1;
  grid-row: 180;
}

/* line 6, styles.scss */
.zigzag:nth-child(361) {
  grid-column: 1;
  grid-row: 181;
}

/* line 10, styles.scss */
.zigzag:nth-child(362) {
  grid-column: 2;
  grid-row: 181;
}

/* line 14, styles.scss */
.zigzag:nth-child(363) {
  grid-column: 3;
  grid-row: 181;
}

/* line 18, styles.scss */
.zigzag:nth-child(364) {
  grid-column: 3;
  grid-row: 182;
}

/* line 22, styles.scss */
.zigzag:nth-child(365) {
  grid-column: 3;
  grid-row: 183;
}

/* line 26, styles.scss */
.zigzag:nth-child(366) {
  grid-row: 183;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(367) {
  grid-column: 1;
  grid-row: 183;
}

/* line 34, styles.scss */
.zigzag:nth-child(368) {
  grid-column: 1;
  grid-row: 184;
}

/* line 6, styles.scss */
.zigzag:nth-child(369) {
  grid-column: 1;
  grid-row: 185;
}

/* line 10, styles.scss */
.zigzag:nth-child(370) {
  grid-column: 2;
  grid-row: 185;
}

/* line 14, styles.scss */
.zigzag:nth-child(371) {
  grid-column: 3;
  grid-row: 185;
}

/* line 18, styles.scss */
.zigzag:nth-child(372) {
  grid-column: 3;
  grid-row: 186;
}

/* line 22, styles.scss */
.zigzag:nth-child(373) {
  grid-column: 3;
  grid-row: 187;
}

/* line 26, styles.scss */
.zigzag:nth-child(374) {
  grid-row: 187;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(375) {
  grid-column: 1;
  grid-row: 187;
}

/* line 34, styles.scss */
.zigzag:nth-child(376) {
  grid-column: 1;
  grid-row: 188;
}

/* line 6, styles.scss */
.zigzag:nth-child(377) {
  grid-column: 1;
  grid-row: 189;
}

/* line 10, styles.scss */
.zigzag:nth-child(378) {
  grid-column: 2;
  grid-row: 189;
}

/* line 14, styles.scss */
.zigzag:nth-child(379) {
  grid-column: 3;
  grid-row: 189;
}

/* line 18, styles.scss */
.zigzag:nth-child(380) {
  grid-column: 3;
  grid-row: 190;
}

/* line 22, styles.scss */
.zigzag:nth-child(381) {
  grid-column: 3;
  grid-row: 191;
}

/* line 26, styles.scss */
.zigzag:nth-child(382) {
  grid-row: 191;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(383) {
  grid-column: 1;
  grid-row: 191;
}

/* line 34, styles.scss */
.zigzag:nth-child(384) {
  grid-column: 1;
  grid-row: 192;
}

/* line 6, styles.scss */
.zigzag:nth-child(385) {
  grid-column: 1;
  grid-row: 193;
}

/* line 10, styles.scss */
.zigzag:nth-child(386) {
  grid-column: 2;
  grid-row: 193;
}

/* line 14, styles.scss */
.zigzag:nth-child(387) {
  grid-column: 3;
  grid-row: 193;
}

/* line 18, styles.scss */
.zigzag:nth-child(388) {
  grid-column: 3;
  grid-row: 194;
}

/* line 22, styles.scss */
.zigzag:nth-child(389) {
  grid-column: 3;
  grid-row: 195;
}

/* line 26, styles.scss */
.zigzag:nth-child(390) {
  grid-row: 195;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(391) {
  grid-column: 1;
  grid-row: 195;
}

/* line 34, styles.scss */
.zigzag:nth-child(392) {
  grid-column: 1;
  grid-row: 196;
}

/* line 6, styles.scss */
.zigzag:nth-child(393) {
  grid-column: 1;
  grid-row: 197;
}

/* line 10, styles.scss */
.zigzag:nth-child(394) {
  grid-column: 2;
  grid-row: 197;
}

/* line 14, styles.scss */
.zigzag:nth-child(395) {
  grid-column: 3;
  grid-row: 197;
}

/* line 18, styles.scss */
.zigzag:nth-child(396) {
  grid-column: 3;
  grid-row: 198;
}

/* line 22, styles.scss */
.zigzag:nth-child(397) {
  grid-column: 3;
  grid-row: 199;
}

/* line 26, styles.scss */
.zigzag:nth-child(398) {
  grid-row: 199;
  grid-column: 2;
}

/* line 30, styles.scss */
.zigzag:nth-child(399) {
  grid-column: 1;
  grid-row: 199;
}

/* line 34, styles.scss */
.zigzag:nth-child(400) {
  grid-column: 1;
  grid-row: 200;
}
